doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/font-awesome.min.css")
        link(rel="stylesheet", href=`/css/bootstrap.min.css`)
        link(rel="stylesheet", href=`/css/main.css`)
        script(src="/js/jquery.js")
        title Monitoring
    body
        - 
            turar_joy = yigindilar.g1 + yigindilar.g3 + yigindilar.g5 + yigindilar.g7 + yigindilar.g9 + yigindilar.g11 + yigindilar.g13 + yigindilar.g15 + yigindilar.g17 + yigindilar.g19 + yigindilar.g21 + yigindilar.g23
            aholi = yigindilar.g2 + yigindilar.g4 + yigindilar.g6 + yigindilar.g8 + yigindilar.g10 + yigindilar.g12 + yigindilar.g14 + yigindilar.g16 + yigindilar.g18 + yigindilar.g20 + yigindilar.g22 + yigindilar.g24
        .container
            ul.nav.justify-content-end.nav-menu
                li.nav-item
                    a(class="nav-link" href="/") Bosh sahifa
                li.nav-item
                    a(class="nav-link" href="/staff") Xodimlar
        ul.nav.justify-content-center
            li.nav-item
                span(class="nav-link" href=`/repablic`) Respublika bo'yicha
            each item in users
                li.nav-item
                    a(class="nav-link" href=`/?user_id=${item._id}`)= item.full_name
        .container
            h5.all-person Respublika bo'yicha natijalar
            .main-numbers(style="padding-top: 0")
                .row
                    .col-sm-6
                        .card
                            .card-body.main-card
                                h5.card-title 
                                    != `Ro'yxatga olingan turar joylar soni <span id='xonadon'>${turar_joy}</span> ta`
                    .col-sm-6
                        .card
                            .card-body.main-card
                                h5.card-title
                                    != `Ro'yxatga olingan aholi soni <span id='aholi'>${aholi}</span> ta`
        .table-container.table-responsive#tab
            table.table.table-bordered
                thead
                    tr
                        th(scope="col" rowspan="3") T/r
                        th(scope="col" rowspan="3") Sinov hududlari
                        th(scope="col" colspan="24") Suhbat o'tkazilgan xonadonlar va ro'yxatga olingan shaxslar soni (1 va 2-shakl bo'yicha)
                        th(scope="col" rowspan="2" colspan="2") Jami
                    tr
                        th(scope="col" colspan="2") 11-noyabr
                        th(scope="col" colspan="2") 12-noyabr
                        th(scope="col" colspan="2") 13-noyabr
                        th(scope="col" colspan="2") 14-noyabr
                        th(scope="col" colspan="2") 15-noyabr
                        th(scope="col" colspan="2") 16-noyabr
                        th(scope="col" colspan="2") 17-noyabr
                        th(scope="col" colspan="2") 18-noyabr
                        th(scope="col" colspan="2") 19-noyabr
                        th(scope="col" colspan="2") 20-noyabr
                        th(scope="col" colspan="2") 21-noyabr
                        th(scope="col" colspan="2") 22-noyabr
                    tr
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                        th(scope="col" class="vertical") 
                            span Xonadonlar soni
                        th(scope="col" class="vertical") 
                            span Shaxslar soni
                tbody
                    - let tr = 0
                    each item in districts 
                        - 
                            tr++
                        tr.hisob-uchastka
                            th= tr 
                            th
                                input#name(type="text", name="name", value=`${item.user.main_name}` disabled)
                            td 
                                input(data-row=`row${tr}` data-col=`g1` type="number" disabled name="g1", value=`${(item.report.g1)?item.report.g1:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g2` type="number" disabled name="g2", value=`${(item.report.g2)?item.report.g2:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g3` type="number" disabled name="g3", value=`${(item.report.g3)?item.report.g3:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g4` type="number" disabled name="g4", value=`${(item.report.g4)?item.report.g4:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g5` type="number" disabled name="g5", value=`${(item.report.g5)?item.report.g5:''}`)
                            td
                                input(data-row=`row${tr}` data-col=`g6` type="number" disabled name="g6", value=`${(item.report.g6)?item.report.g6:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g7` type="number" disabled name="g7", value=`${(item.report.g7)?item.report.g7:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g8` type="number" disabled name="g8", value=`${(item.report.g8)?item.report.g8:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g9` type="number" disabled name="g9", value=`${(item.report.g9)?item.report.g9:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g10` type="number" disabled name="g10", value=`${(item.report.g10)?item.report.g10:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g11` type="number" disabled name="g11", value=`${(item.report.g11)?item.report.g11:''}`)
                            td
                                input(data-row=`row${tr}` data-col=`g12` type="number" disabled name="g12", value=`${(item.report.g12)?item.report.g12:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g13` type="number" disabled name="g13", value=`${(item.report.g13)?item.report.g13:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g14` type="number" disabled name="g14", value=`${(item.report.g14)?item.report.g14:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g15` type="number" disabled name="g15", value=`${(item.report.g15)?item.report.g15:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g16` type="number" disabled name="g16", value=`${(item.report.g16)?item.report.g16:''}`)
                            td
                                input(data-row=`row${tr}` data-col=`g17` type="number" disabled name="g17", value=`${(item.report.g17)?item.report.g17:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g18` type="number" disabled name="g18", value=`${(item.report.g18)?item.report.g18:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g19` type="number" disabled name="g19", value=`${(item.report.g19)?item.report.g19:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g20` type="number" disabled name="g20", value=`${(item.report.g20)?item.report.g20:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g21` type="number" disabled name="g21", value=`${(item.report.g21)?item.report.g21:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g22` type="number" disabled name="g22", value=`${(item.report.g22)?item.report.g22:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g23` type="number" disabled name="g23", value=`${(item.report.g23)?item.report.g23:''}`)
                            td 
                                input(data-row=`row${tr}` data-col=`g24` type="number" disabled name="g24", value=`${(item.report.g24)?item.report.g24:''}`)
                            td 
                                span(class="summa-row" data-col=`g25` row-number=`row${tr}`)= 0
                            td 
                                span(class="summa-row" data-col=`g26` row-number=`row${tr}`)= 0
                    tr 
                        th= tr+1
                        th jami
                        td 
                            span(class="summa-col" col-number=`g1`)= yigindilar.g1 
                        td 
                            span(class="summa-col" col-number=`g2`)= yigindilar.g2 
                        td 
                            span(class="summa-col" col-number=`g3`)= yigindilar.g3 
                        td 
                            span(class="summa-col" col-number=`g4`)= yigindilar.g4  
                        td 
                            span(class="summa-col" col-number=`g5`)= yigindilar.g5 
                        td 
                            span(class="summa-col" col-number=`g6`)= yigindilar.g6  
                        td 
                            span(class="summa-col" col-number=`g7`)= yigindilar.g7 
                        td 
                            span(class="summa-col" col-number=`g8`)= yigindilar.g8 
                        td 
                            span(class="summa-col" col-number=`g9`)= yigindilar.g9 
                        td 
                            span(class="summa-col" col-number=`g10`)= yigindilar.g10 
                        td 
                            span(class="summa-col" col-number=`g11`)= yigindilar.g11
                        td 
                            span(class="summa-col" col-number=`g12`)= yigindilar.g12
                        td 
                            span(class="summa-col" col-number=`g13`)= yigindilar.g13
                        td 
                            span(class="summa-col" col-number=`g14`)= yigindilar.g14
                        td 
                            span(class="summa-col" col-number=`g15`)= yigindilar.g15
                        td 
                            span(class="summa-col" col-number=`g16`)= yigindilar.g16
                        td 
                            span(class="summa-col" col-number=`g17`)= yigindilar.g17
                        td 
                            span(class="summa-col" col-number=`g18`)= yigindilar.g18
                        td 
                            span(class="summa-col" col-number=`g19`)= yigindilar.g19
                        td 
                            span(class="summa-col" col-number=`g20`)= yigindilar.g20
                        td 
                            span(class="summa-col" col-number=`g21`)= yigindilar.g21
                        td 
                            span(class="summa-col" col-number=`g22`)= yigindilar.g22
                        td 
                            span(class="summa-col" col-number=`g23`)= yigindilar.g23
                        td 
                            span(class="summa-col" col-number=`g24`)= yigindilar.g24
                        td 
                            span(class="summa-col" col-number=`g25`)= turar_joy
                        td 
                            span(class="summa-col" col-number=`g26`)= aholi
        p(style="padding: 0 10px; text-align: right")
            a(class="btn btn-secondary" href=`/download/all`) Yuklab olish
        script(src="/js/main.js")